{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>
            {{ .Title }}
            <!--
            only render date if it's present
            if no date is provided, time.Time is uninitialized to the year 1
            -->
            {{ if not (eq (.Date.Format "2006") "0001") }}
                -
                {{ .Date.Format "Mon, Jan 2, 2006" }}
            {{ end }}
        </h1>
    </div>
    <p class="lead">{{ .Params.description }}</p>
    {{ .Content }}
    <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
</div>

{{ end }}